body{
  font-family: Purisa, sans-serif;
}

.form-group {
    text-align: center;
    padding-bottom: 25px;
}

#todo {
    margin: 0 auto;
    width: 500px;

}

#todo ul{
  border-bottom:1px solid black;
  padding:5px;
  margin:2px;
}

a {
  display:block;
  color:#555555;
  font-weight:bold;
  height:30px;
  text-decoration:none;
  width:100%;
}

.task-done{
  text-decoration: line-through;
}

.delete {
	background:url(./delete.gif) no-repeat 10px 8px;
	text-indent:30px;
	display:block;
}

.done {
	background:url(./done.png) no-repeat 10px 8px;
	text-indent:30px;
	display:block;
}
